.sidebarContainer {
  width: 15%;
  background-color: var(--background);
  height: 95%;
  border-radius: 20px;
  padding: 20px 30px;
  margin-right: 10px;

  .brand {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 20px;

    .brandName {
      margin: 0;
      font-weight: 900;
      font-size: 24px;
    }

    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .options {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;

    .option {
      padding: 15px 20px;
      border-radius: 40px;
      color: var(--text-color);
      display: flex;
      align-items: center;
      cursor: pointer;


      &:hover {
        background-color: var(--main-color);
        color: var(--background);
      }

      .optionName {
        margin-left: 10px;
        font-size: 16px;
      }
      .chat{
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

    .conversation{
      display: flex;
      align-items: center;
      //justify-content: space-bet;
    }
  }

  .user {
    margin-top:180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userPicture {
    }

    .userName {
      font-weight: 500;
      margin: 10px 0;

    }

    .userEmail {
      color: var(--text-color);
      font-size: 12px;
    }
  }
}
