.navbar {
  display: flex;
  list-style: none;

  li {
    text-decoration: none;
    color: #373737;
    font-size: 18px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .active{
    font-weight: 900;
    color: #000000;
  }
}